.container {
    width: 100%;
    max-width: 900px;
    border: black 1px solid;
    height: 900px;
    padding: 10px;
    display: flex;
}
.item1 {
    width: 20%;color: green;
    border: rgba(255, 0, 0, .5) 5px solid;
    text-align: center;
    display: flex;
    flex-direction: column;    
}
 